<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>expression</key>
		<string>&quot;aabc&quot; =~ /a+/[c]</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>25 =~ /a+/</string>
		<key>error:runtime</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;hi \&quot;quoted\&quot; ok&quot;</string>
		<key>result</key>
		<string>hi &quot;quoted&quot; ok</string>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;hi \&quot;quoted\&quot; \u2022\u2022\u2022 ok&quot;</string>
		<key>result</key>
		<string>hi &quot;quoted&quot; ••• ok</string>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;hi \&quot;quoted\&quot; \U00002022\U00002022\U00002022 ok&quot;</string>
		<key>result</key>
		<string>hi &quot;quoted&quot; ••• ok</string>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 == 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>true</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>false</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 == 2</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 != 1</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 != 2</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 &lt; 1</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 &lt; 2</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 &lt;= 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>0 &lt;= 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>2 &lt;= 1</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 &gt; 1</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>2 &gt; 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>1 &gt;= 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>2 &gt;= 1</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>0 &gt;= 1</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;a&quot; == &quot;a&quot;</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;a&quot; == &quot;b&quot;</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;a&quot; != &quot;a&quot;</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>&quot;a&quot; != &quot;b&quot;</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>true &amp;&amp; true</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>true &amp;&amp; false</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>true || false</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>false || false</string>
		<key>result</key>
		<false/>
	</dict>
	<dict>
		<key>expression</key>
		<string>!false</string>
		<key>result</key>
		<true/>
	</dict>
	<dict>
		<key>expression</key>
		<string>!true</string>
		<key>result</key>
		<false/>
	</dict>
</array>
</plist>
